:root {
    --tblr-body-bg: #f8f9fa
}

.row > * {
    padding-left: 0;
    padding-right: 0;
}

.navbar-vertical.navbar-expand-lg {
    width: 18rem;
    border-right: 1px solid var(--tblr-light-darken);
}

.page-wrapper {
    margin-left: 18rem;
}

.dropdown-menu .dropdown-menu-column {
    transition: all 2s;
}
