{{define "document-form"}}
<form id="document-form" class="row row-deck row-cards ms-0" method="post" {{if .Resource}}action="/accounting/documents"{{end}} >
	<div class="col-12 px-0">
		<div class="card ">
			<div class="card-body">

				<div class="row">
					<div class="col">
						<div class="mb-3 me-2">
							<label class="form-label" required>Description</label>
							<input class="form-control" type="text" name="description" required {{if.Resource}}value="{{.Resource.Description}}" disabled{{end}}>
						</div>

						<div class="mb-3 me-2">
							<label class="form-label" required>Date</label>
							<input class="form-control" type="text" name="date" placeholder="YYYY-MM-DD" required {{if.Resource}}value="{{.Resource.Date}}" disabled{{end}}>
						</div>

						<div class="mb-3 me-2">
							<label class="form-label" required>Posting date</label>
							<input class="form-control" type="text" name="posting_date" placeholder="YYYY-MM-DD" required {{if.Resource}}value="{{.Resource.PostingDate}}" disabled{{end}}>
						</div>

						<div class="mb-3 me-2">
							<label class="form-label" required>Reference</label>
							<input class="form-control" type="text" name="reference" required {{if .Resource}}value="{{.Resource.Reference}}" disabled{{end}}>
						</div>
					</div>

					<div class="col">
						<div class="mb-3 ms-2">
							<label class="form-label" required>Currency</label>
							<select class="form-select" name="currency_id" {{if .Resource}}disabled{{end}}>
								{{range .Currencies}}
								<option value="{{.ID}}">{{.Name}} ({{.ISO}})</option>
								{{end}}
							</select>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-12 px-0">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Positions</h3>
			</div>

			<div class="card-body">
				<div class="table-responsive mb-3">
					<table id="positions" class="table table-vcenter">
						<thead>
							<tr>
								<th>Description</th>
								<th>Account</th>
								<th>Type</th>
								<th>Amount</th>
								{{if not .Resource}}<th>...</th>{{end}}
							</tr>
						</thead>
						<tbody>
							{{if .Resource}}
							{{range .Resource.Positions}}
							{{template "document-position-row" dict "Position" . "Accounts" $.Accounts "PositionTypes" $.PositionTypes}}
							{{end}}
							{{else}}
							{{template "document-position-row" dict "Position" false "Accounts" $.Accounts "PositionTypes" $.PositionTypes}}
							{{end}}
						</tbody>
					</table>
				</div>

				{{if not .Resource}}
				<div class="row">
					<div class="col"></div>
					<div class="col-auto">
						<button class="btn" type="button" onclick="addPosition()">Add position</button>
					</div>
				</div>
				{{end}}
			</div>
		</div>
	</div>
</form>

<script>
	function addPosition() {
		const table = document.getElementById("positions");
		const row = table.insertRow(-1);

		row.innerHTML = `{{template "document-position-row" dict "Position" false "Accounts" $.Accounts "PositionTypes" $.PositionTypes}}`;
	}

	function deletePositionsRow(button) {
		var parent = button.parentNode.parentNode;
		parent.parentNode.removeChild(parent);
	}

	function health() {
		var parent = button.parentNode.parentNode;
		parent.parentNode.removeChild(parent);
	}
</script>
{{end}}

{{define "document-position-row"}}
<tr>
	<td>
		<input class="form-control" type="text" name="position_description" required {{if .Position}}value="{{.Position.Description}}" disabled{{end}}>
	</td>

	<td>
		<select class="form-select" name="position_account_id">
			{{range .Accounts}}
			<option value="{{.ID}}" {{if $.Position}}{{if eq $.Position.AccountID .ID}}selected {{end}}disabled{{end}}>{{.Description}}</option>
			{{end}}
		</select>
	</td>

	<td>
		<select class="form-select" name="position_type_id">
			{{range .PositionTypes}}
			<option value="{{.ID}}" {{if $.Position}}{{if eq $.Position.TypeID .ID}}selected {{end}}disabled{{end}}>{{.Description}}</option>
			{{end}}
		</select>
	</td>

	<td>
		<input id="position_amount" class="form-control" type="text" name="position_amount" required {{if .Position}}value="{{.Position.Amount}}" disabled{{end}}>
	</td>

	{{if not .Position}}
	<td>
		<button class="btn" type="button" onclick="deletePositionsRow(this)">X</button>
	</td>
	{{end}}
</tr>
{{end}}
