{{ define "pretitle" }}Logistics{{ end }}
{{ define "title" }}Addresses{{ end }}

{{ define "control" }}
<div class="btn-list">
	<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#item-filter">
		Filter
	</button>
	<a href="/logistics/addresses/new" class="btn btn-primary d-none d-sm-inline-block">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
			stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none" />
			<line x1="12" y1="5" x2="12" y2="19" />
			<line x1="5" y1="12" x2="19" y2="12" />
		</svg>
		Create new address
	</a>
</div>
{{ end }}

{{ define "content" }}
<div class="table-responsive">
	<table class="table table-vcenter">
		<thead>
			<tr>
				<th>ID</th>
				<th>ZIP</th>
				<th>City</th>
				<th>Street</th>
				<th>Street Number</th>
				<th>Country</th>
                <th>Longitude</th>
                <th>Latitude</th>
				<th>...</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Addresses }}
			<tr>
				<td>{{ .ID }}</td>
				<td>{{ .ZIP }}</td>
				<td>{{ .City }}</td>
				<td>{{ .Street }}</td>
				<td>{{ .StreetNumber }}</td>
				<td>{{ .Country }}</td>
                <td>{{ .Longitude }}</td>
                <td>{{ .Latitude }}</td>
				<td>
					<a href="/logistics/addresses/{{ .ID }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
							<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
							<path d="M16 5l3 3" />
						</svg>
					</a>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{ end }}
