{{define "pretitle"}}Accounting{{end}}
{{define "title"}}Documents{{end}}

{{define "control"}}
<div class="btn-list">
	<a href="/accounting/documents/new" class="btn btn-primary d-none d-sm-inline-block">
		<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
			stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none" />
			<line x1="12" y1="5" x2="12" y2="19" />
			<line x1="5" y1="12" x2="19" y2="12" />
		</svg>
		Create new document
	</a>
</div>
{{end}}

{{define "content"}}
<div class="col-12">
	<div class="card">
		<div class="card-table table-responsive">
			<table class="table table-vcenter">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Posting Date</th>
						<th>Reference</th>
						<th>Description</th>
						<th>Currency ID</th>
						<th>...</th>
					</tr>
				</thead>
				<tbody>
					{{range .Resources}}
					<tr>
						<td>{{.ID}}</td>
						<td>{{.Date}}</td>
						<td>{{.PostingDate}}</td>
						<td>{{.Reference}}</td>
						<td>{{.Description}}</td>
						<td>{{.CurrencyID}}</td>
						<td>
							<a href="/accounting/documents/{{.ID}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round"
									class="icon icon-tabler icons-tabler-outline icon-tabler-zoom-scan">
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
									<path d="M4 16v2a2 2 0 0 0 2 2h2" />
									<path d="M16 4h2a2 2 0 0 1 2 2v2" />
									<path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
									<path d="M8 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
									<path d="M16 16l-2.5 -2.5" />
								</svg>
							</a>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{end}}
